openapi: 3.0.3
info:
  title: Enormity Nexus Sidecar API
  version: 2.0.0
servers:
  - url: https://nexus.enormity.tech
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    nexusCompanyId:
      in: query
      name: companyId
      schema: { type: integer, minimum: 1 }
      description: Required for company scope; mutually exclusive with global.
    nexusGlobal:
      in: query
      name: global
      schema: { type: integer, enum: [1] }
      description: Super-admin scope; mutually exclusive with companyId.
paths:
  /api/enormity/health:
    get:
      summary: Sidecar health check
      responses:
        '200':
          description: OK
  /api/enormity/status/overview:
    get:
      summary: Public status overview
      responses:
        '200':
          description: OK
  /api/enormity/status/containers:
    get:
      summary: Docker container snapshot
      responses:
        '200':
          description: OK
  /api/enormity/docs:
    get:
      summary: OpenAPI YAML document
      responses:
        '200':
          description: OK
  /api/enormity/auth/token:
    post:
      summary: Exchange API key for JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey:
                  type: string
      responses:
        '200':
          description: Token issued
        '401':
          description: Invalid API key
  /api/enormity/nexus/tenant-scope:
    get:
      summary: Resolve an exact Nexus session company code to its numeric database scope
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyCode
          required: true
          schema: { type: string, maxLength: 100 }
      responses:
        '200': { description: Exact company scope }
        '404': { description: Company scope not found }
        '409': { description: Company code is not unique }
  /api/enormity/nexus/dashboard:
    get:
      summary: Tenant-scoped direct MySQL dashboard snapshot
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
      responses:
        '200': { description: Dashboard snapshot with verified provenance }
  /api/enormity/nexus/departments:
    get:
      summary: Tenant-scoped direct MySQL department hierarchy rows
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
      responses:
        '200': { description: Sanitized department rows }
  /api/enormity/nexus/logs:
    get:
      summary: Tenant-scoped direct MySQL administrative logs
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
        - in: query
          name: BeginTime
          schema: { type: string, example: '2026-07-17 00:00:00' }
        - in: query
          name: EndTime
          schema: { type: string, example: '2026-07-17 23:59:59' }
        - in: query
          name: current
          schema: { type: integer, minimum: 1, maximum: 10000 }
        - in: query
          name: pageSize
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200': { description: Paginated administrative logs }
  /api/enormity/nexus/guards:
    get:
      summary: Tenant-scoped guard roster and optional recent activity
      description: Returns fingerprint counts only; biometric templates are never returned.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
        - in: query
          name: deptId
          schema: { type: integer, minimum: 1 }
        - in: query
          name: guardId
          schema: { type: integer, minimum: 1 }
      responses:
        '200': { description: Sanitized guard roster }
  /api/enormity/nexus/live-map:
    get:
      summary: Tenant-scoped direct MySQL map telemetry
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
      responses:
        '200': { description: Current map rows with verified provenance }
  /api/enormity/nexus/alerts/unacknowledged:
    get:
      summary: Tenant-scoped direct MySQL unacknowledged alert count
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/nexusCompanyId'
        - $ref: '#/components/parameters/nexusGlobal'
      responses:
        '200': { description: Sanitized aggregate count }
  /api/enormity/nexus/realtime-ticket:
    post:
      summary: Issue a short-lived single-use ticket for the tenant WebSocket
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companyId: { type: integer, minimum: 1 }
                global: { type: boolean }
      responses:
        '200': { description: One-time realtime ticket }
  /api/enormity/patrol/summary:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Patrol summary }
  /api/enormity/patrol/live:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Live patrol rows }
  /api/enormity/patrol/missed:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          required: true
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Missed checkpoint analysis }
  /api/enormity/operations/live:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
      responses:
        '200': { description: Live operations view }
  /api/enormity/analytics/heatmap:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
        - in: query
          name: days
          schema: { type: integer, minimum: 1, maximum: 90 }
      responses:
        '200': { description: Heatmap data }
  /api/enormity/analytics/anomalies:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          required: true
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Anomaly result set }
  /api/enormity/analytics/compliance:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          required: true
          schema: { type: integer }
        - in: query
          name: month
          schema: { type: integer, minimum: 1, maximum: 12 }
        - in: query
          name: year
          schema: { type: integer, minimum: 2000 }
      responses:
        '200': { description: Compliance result set }
  /api/enormity/guards/efficiency:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Guard efficiency list }
  /api/enormity/guards/streaks:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
      responses:
        '200': { description: Guard streak list }
  /api/enormity/devices/status:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
      responses:
        '200': { description: Device status list }
  /api/enormity/cache/stats:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Redis cache stats }
  /api/enormity/alerts/{id}/acknowledge:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Escalation acknowledged }
  /api/enormity/reports/pkk2/pdf:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: PDF stream }
  /api/enormity/reports/pkk3/pdf:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: PDF stream }
  /api/enormity/reports/pkk4/pdf:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: PDF stream }
  /api/enormity/reports/bundle/pdf:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: ZIP stream }
  /api/enormity/mobile/dashboard:
    get:
      summary: Mobile dashboard under 5KB for React Native guard app
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Compact daily stats }
  /api/enormity/mobile/guard/{id}/today:
    get:
      summary: Single guard daily mobile summary
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Guard scan count, first scan, last scan, and recent sites }
  /api/enormity/mobile/sos:
    post:
      summary: Trigger SOS from mobile guard app
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guardId, siteId]
              properties:
                guardId: { type: integer }
                siteId: { type: integer }
                companyId: { type: integer }
                message: { type: string }
      responses:
        '201': { description: SOS alarm and critical escalation created }
  /api/enormity/mobile/sites/{companyId}:
    get:
      summary: Compact patrol site list for mobile app
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: companyId
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Site id, name, code, coordinates, and dept id }
  /api/enormity/reports/archive:
    get:
      summary: List archived monthly KPM report PDFs
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: companyId
          schema: { type: integer }
        - in: query
          name: year
          schema: { type: integer }
      responses:
        '200': { description: Available archive manifests }
  /api/enormity/reports/archive/{year}/{month}/{companyId}/pkk4.pdf:
    get:
      summary: Download archived monthly PKK4 PDF
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: year
          required: true
          schema: { type: integer }
        - in: path
          name: month
          required: true
          schema: { type: integer }
        - in: path
          name: companyId
          required: true
          schema: { type: integer }
      responses:
        '200': { description: PDF stream }
  /api/enormity/alerts/active:
    get:
      summary: Active unacknowledged SOS and escalation alerts
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Active alert rows }
  /api/enormity/alerts/history:
    get:
      summary: Resolved or acknowledged alert history
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: days
          schema: { type: integer }
      responses:
        '200': { description: Alert lifecycle history }
  /api/enormity/kpm/contract-score:
    get:
      summary: Weighted KPM contract scorecard
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Patrol, manpower, device and overall score }
  /api/enormity/version:
    get:
      summary: Live Enormity system version and evidence counters
      responses:
        '200': { description: Version, build date, endpoint count, Java class count, stored procedure count }
  /api/enormity/stats/realtime:
    get:
      summary: Realtime scan, WebSocket, and cache counters
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Realtime operational counters }
